body{
    background-image: url("../media/bg.png");
    background-size: cover;
    opacity: 0.9;
}

.kotak{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.kotak1, .kotak2, .kotak3, .kotak4, .kotak5 {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

button{
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kotak4 input {
    width: 100px;
    padding: 8px;
    height: 60px;
}

.kotak4 select {
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: 25px;
    width: 70px;
    padding: 8px;
    height: 60px;
}

#hasil {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.kotak5 img {
    border-radius: 8px;
    width: 280px;
}